/AccountControllerTest.class
/AccountDBControllerTest.class
/AllTests.class
/FunctionalitiesTest.class
/U1LoginTest.class
/UniversityDBControllerTest.class
/UniversityTest.class
/UserTest.class
/functionalTest.class
/functionalitiesTest.class
/testAccount.class
/testLoginController.class
/testSearchController.class
/testU16LogOut.class
/testU19ViewAllUserProfiles.class
/testU9SaveSchool.class
/testUniversityController.class
/testUseCase.class
/testUserFuncController.class
